<md-dialog class="user-dialog" aria-label="Create User">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>User Create</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form ng-submit="$event.preventDefault()" name="createForm">
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Name</label>
            <input type="text" ng-model="user.name">
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Phone</label>
            <input type="text" ng-model="user.phone">
          </md-input-container>
        </div>
        <div layout="row" class="md-block">
          <md-input-container flex>
            <label>Address</label>
            <input type="text" ng-model="user.address">
          </md-input-container>
        </div>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
    <md-button aria-label="Create" ng-click="updateUser()" style="margin-left:20px;">Finish</md-button>
  </md-dialog-actions>
</md-dialog>